body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: back 60s linear infinite;
}

@keyframes back {
  0% {
      background-position: bottom left;
  }
  20% {
      background-position: top right;
  }
  40% {
      background-position: bottom center;
  }
  60% {
      background-position: top left;
  }
  80% {
      background-position: top center;
  }
  100% {
      background-position: bottom left;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
