.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
  
.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
    backdrop-filter: blur(3px);
}

.landing h1{
    font-size: 7vh;
    text-align: center;
    padding: 0 7vh;
    color: rgb(195, 25, 82);
}
.landing p {
    font-size: 2.8vh;
    color: rgb(195, 25, 82);
    text-align: center;
    padding: 0 7vh;
    /* line-height: 1.6; */
}
.title {
    background-color: rgb(195, 25, 82);
    color: rgb(245, 235, 199);
    border-radius: 15px;
    padding:1vh;
    box-shadow:  0.5vw 1vh #111;
}
#hub {
    background-color: rgb(245, 235, 199);
    color: rgb(195, 25, 82);
    border-radius: 10px;
    padding: 0 2px;
}
.text {
    text-decoration: underline;
    font-weight: bold;
}

.landing button {
    width: 30vh;
    height: 5vh;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(245, 235, 199);
    background-color: rgb(195, 25, 82);
    font-size: 2.8vh;
    margin-bottom: 10vh;
    margin-top: 2vh;
}

.landing img {
    max-width: 70%;
    max-height: 70%;
}

@media screen and (max-width: 1000px){
    .landing img {
        display: none;
    }
    #welcome {
        flex-basis: 100%;
    }
}